@font-face {
	font-family: VictorMono;
	font-display: swap;
	src: url("../fonts/VictorMono-Italic.woff2") format("woff2"),
       url("../fonts/VictorMono-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: VictorMono;
	font-display: swap;
	src: url("../fonts/VictorMono-Light.woff2") format("woff2"),
       url("../fonts/VictorMono-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: VictorMono;
	font-display: swap;
	src: url("../fonts/VictorMono-Medium.woff2") format("woff2"),
       url("../fonts/VictorMono-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: VictorMono;
	font-display: swap;
	src: url("../fonts/VictorMono-Regular.woff2") format("woff2"),
       url("../fonts/VictorMono-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
