$text-color-contrast: #ec1e79;
$text-color-contrast2: #5dd1f8;
$text-color-light: #ffffff;
$text-color-black: #000000;
$text-color-main: #221f1f;
$text-color-dark: #212121;
$text-color-grey: #656464;
$bg-color-dark: #27273e;
$bg-color-grey: #d4d4d8;
$bg-color-light: #ffffff;