block variables

doctype html
html(lang="en")
  head
    block head
      meta(charset="utf-8")
      title Title your site
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="./styles/" + page + ".min.css")
  body
    block header
      include header.pug
    block content
    block footer
      include footer.pug
    block scripts
      script(src="./scripts/" + page + ".min.js")