mixin hamburger(classList)
  div.hamburger(class=classList)
    button.hamburger__btn(type="button")
      span.hamburger__line
      span.hamburger__line
      span.hamburger__line
      span.hamburger__line