extends common/layout.pug

block variables
  -var page = 'index'

block content
  main.main
    include includes/index/top.pug
    include includes/index/quote.pug
    include includes/index/products.pug
    include includes/index/reviews.pug
    include includes/index/blog.pug
    include includes/index/mailing.pug
    include includes/index/advantage.pug